
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 1rem;
  }
nav a:hover{
color:aliceblue;
}
nav .center {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
 nav .left{
    width:120px;
    display:flex;
    align-items:center;
    justify-content:center;
}
nav .left img {
    width: 100px;
    height: auto;
  }

nav .right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

nav a {
    text-decoration: none;
    color: black;
  }
  

section .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: blue;
    color: white;
    gap: 2rem;
  }
section{
    display:flex;
    background-color:blue;
    flex-direction:column;
    width:auto;
    position:relative;
    padding:2rem;
}
.bottom{
    position:absolute;
}


.form {
    position: static;
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 300px;
}
.form h1{
    font-weight:200;
    font-size:2rem;
}
.form h1 span{
    color:pink;
}
.form .radio{
    display:flex;
    justify-content:space-evenly;
    margin:0.5rem;
}
.form button:hover{
    display:flex;
    color:green;

}

.information {
    background-color: whitesmoke;
    text-align: center;
    padding: 2rem;
    position: relative;
}

.information h2,
.information h3 {
    font-weight: 300;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0;
    line-height: 1.5;
}
.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 2rem;

}

.information-container {
    background-color: white;
    height: 35rem;
    width: 25rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* subtle box shadow */
    border-radius: 0.5rem;
}
.info-heading{
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
    padding:1rem;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    height:15%;
    font-weight:100px;
}

.info-heading img{
    height:40px;
    width:auto;
}
.a{
    background-color:blue;
}
.b{
    background-color:violet;
}
.c{
    background-color:brown;
}
.info-detail{
    padding: 2rem;
    height: 65%;
    overflow: auto;
    color:white;
}
.info-detail p{
    margin-left: 1rem;
    color:grey;
    display: flex;
    align-items: center;        
}



.information h2,
.information h3 {
    font-weight: 300;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0;
    line-height: 1.5;
}
footer{
    background-color:violet;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    padding:5rem;
}
footer h4{
    color:white;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.5;
}
footer p{
    color:white;
}
footer a{
    color:var(--footerText);
    text-decoration: none;
    line-height: 1.25;
}
footer>div{
    display:flex;
    flex-direction:column;
}
footer .first .logo{
    width: 80px;
    height:50px;
}
 footer .first .interviewbit{
    width: 180px;
    height: 30px;
    margin: 1rem 0;
 }
 footer .first div div{
    display:inline-block;
    margin-right:5px;
 }

 footer .first div> img{
  width: 80px;
  margin:1rem 0;
 }
 .banner .typo {
    flex: 1;
  }
  .banner .form {
    flex: 1;
  }

